body{
	background-color: #34495e;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500px;
}
.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #191919;
	transform: translate(-50%,-50%);
	text-align: center;
}
.box input[type="text"],.box input[type="password"]
{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	border-radius: 24px;
	padding: 14px 10px;
	outline: none;
	color: white;
	transition: 3s;

}
.box input[type="submit"]
{

border:0;
color: white;
padding: 14px 10px;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	border-radius: 24px;
	width:180px;
}
.box input[type="text"]:hover,.box input[type="password"]:hover
{
	width:280px;
	border-color: #2ecc71;
	
}
.box input[type="submit"]:hover
{
	width:280px;
	border-color: #2ecc71;
	cursor: pointer;
	transition: 3s;
}